{% extends '../baseTemplates/base.html' %}
{% load static %}
{% block title %} news-Detail {% endblock %}
{% block content %}

<div class="section_for_news">
    <div class="container-fluid">
        {% if get_news_detail %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <!-- <h2>Latest news</h2> -->
                <div class="inner_section" data-aos='zoom-out-up'>
                    <div class="image_section">
                        <img src="{{ get_news_detail.upload_image.url }}" alt="" class="img-fluid">
                    </div>
                    <div class="news_description">
                        <h3>{{get_news_detail.news_main_title }}</h3>

                        <p> {{get_news_detail.descriptions|safe }}
                        </p>

                    </div>
                   
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% include '../components/footer.html' %}


{% endblock %}




