{% extends '../baseTemplates/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<!-- video section -->
<main>
    <section id="hero-video">
      <div id="hero">
    <video playsinline autoplay muted loop poster="placeholder.jpg" id="bgvideo" width="100%" height="100vh">
    <source src="{% static './videos/Ifakara Health Institute.mp4' %}" type="video/mp4">
    </video>
    <div class="front_text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="item" data-aos="zoom-in-up">
              <h1>VECTOR CONTROL PRODUCT</h1>
              <h1>TESTING UNIT</h1>
              <h5><strong>We check  & Recheack our result</strong></h5>
              <div class="button_section">
                <a href="" class="our_service_link" >view our services</a>
              </div> 
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
    </section>
  </main>

  <!-- message from director -->
  <div class="messages_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner">
            <div class="message">
              <h4>Message from Head of Unit</h4>
              {% include 'components/topHorizontalLIne.html' %}
              <div style="width: 270px;">
              
              </div>
             
                <p><q>
                  We serve the community through excellence in service delivery, research into new methods of product testing and training of MSc and PhD students.
  
                  Having a diverse range of vector control tools in the malaria control toolbox has two advantages: 1) malaria control programs can select tools most suitable for their setting and 2) increasing market diversity creates competition that drives down unit costs of products.
                </q></p>
            
            </div>
            <div class="image_section" data-aos="slide-left">
              <a href="#" class="link" style="text-decoration: none;color: black;">
  
              <img src="{% static './images//Dr -saraah.JPG' %}" alt="" class="img-fluid">
              <div class="title">
                <h5>Dr Sarah Moore</h5>
                <h6> Head of unit</h6>
              </div>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- services offered -->
  <div class="what_we_offer_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="item_offered">
            <h2>What We offers</h2>
            {% include 'components/topHorizontalLIne.html' %}
            <div class="services">
              <div class="services_item" data-aos="slide-right">
                <i class="bi bi-card-checklist"></i>
                <h3>TESTING SERVICES</h3>
                <p> We test for indoor residual spraying (IRS), insecticidal treated nets (ITNs), skin (topical) repellents, spatial (area) repellents, treated clothing, attractive targeted sugar baits and mosquito and also develop new methods.</p>
              </div>
              <div class="services_item" >
                <i class="bi bi-card-checklist"></i>
                <h3>DEVELOPMENT STRATEGIES</h3>
                <p>We develop new means of testing products and assist in developing guidelines for international use and GLP Certified since 2021</p>
              </div>
              <div class="services_item" >
                <i class="bi bi-card-checklist"></i>
                <h3>PARAMETER MEASUREMENTS</h3>
                <p>We measure key parameters in the mosquito that translate to efficacy in reducing vector borne disease in the human population when applied at scale.</p>
              </div>
              <div class="services_item"  data-aos="slide-left">
                <i class="bi bi-card-checklist"></i>
                <h3>DOCUMENTATION AND REPORTING WRITING </h3>
                <p>. Our documentation, analysis and reporting is rigorous for ease of use by our partners.</p>
                <P> Also We offer protocol, data analysis and report writing services.</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!-- portfolio section -->
  <div class="student_counter_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner_item" data-aos="zoom-in-up">
            <h3>Portfolio</h3>
            <div class="portfolio_section">
              <img src="{% static './images/VCPTU-portfolio.png' %}" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- publication section -->
  <div class="publication_section_at_home_page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-center">
            <h3>Latest Publications</h3>
          </div>
          <div class="inner_section">
            <div class="publication"  data-aos="zoom-in-up">
              <div class="icon" style="width: 100px;">
                <img src="{% static './images/publication.png' %}" alt="" class="img-fluid" width="100%">
              </div>
              <div class="desciption">
                
                <p>1. Edith P. Madumla, Olukayode G. Odufuwa, Edgar M. Mbeyela, Godfrey Ligema and Sarah J. Moore. <i>Large-scale (Phase III) evaluation of survivorship, biological efficacy, fabric integrity and community acceptability of DawaPlus®2.0 long-lasting insecticidal nets compared with PermaNet®2.0 in Kilombero, Tanzania. Mal J.</i></p>
              </div>
            </div>
            <div class="publication"  data-aos="zoom-in-up">
              <div class="icon" style="width: 100px;">
                <img src="{% static './images/publication.png' %}" alt="" class="img-fluid" width="100%">
              </div>
              <div class="desciption">
                
                <p>2. Olukayode G. Odufuwa, John Bradley, Zawadi Mageni Mboma, Emmanuel Mbuba, Joseph B. Muganga, Rose Philipo, Jason Moore, Ole Skovmand, Sarah Jane Moore. <i>The influence of time of experiment, insecticide resistance levels and post exposure holding time on the bioefficacy of insecticides against metabolic resistant mosquitoes.  Parasites and Vectors</i>.</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}