{% load static %}
<div class="navigation_section_one">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner_section">
          <div class="logo_section">
            <a href="#">
              <img src="{% static './images/logo.png' %}" alt="" class="img-fluid " style="width: 100%;">
            </a>
          </div>
          <div class="address_section ">
            <div class="item1" style="display: flex;">
              <div class="image_section">
                <img src="{% static './images/greenLocation.png' %}" alt="" class="img-fluid" style="width: 60px;padding: 20px 10px;">
              </div>
              <div class="description" style="padding-top: 15px;color: black;">
                <h6>
                  Bagamoyo Branch</h6>
                <span>Off Chuguni Road - Bagamoyo</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="navigation_section_two" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr style="padding: 1px;margin: 1px;">
        <div class="item">

          <nav class="navbar navbar-expand-lg">
            <div class="button_section">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse  " id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'vcptu_home:homePage' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vcptu_about:aboutPage' %}">About</a>
                </li>
              
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vcptu_facility:facilityPage' %}">Facility</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vcptu_team:teamPage' %}">Team</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Research
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'vcptu_publication:publicationPage' %}">Publication</a></li>
                    <li><a class="dropdown-item" href="{% url 'vcptu_project:projectPage' %}">Project</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Accreditations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">News</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="">Contact</a>
                </li>
              
                  <li class="nav-item">
                    <button type="button" class="btn btn-outline-white p-0" data-bs-toggle="modal" >
                      <span class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                  </li>
              </ul>
            </div>

          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" tabindex="0" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Serch content</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="">
                  <input type="text" class="form-control">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
